*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Main{
    width: 100vmax;
    height: 51.1vmax;
    background-color: black;
}
.Navbar{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.119);
    padding: 0px 3%;
    background-color: royalblue;
    display: flex;
    z-index: 999999;
    align-items: center;
    justify-content: space-between;
}
.logoSec{
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoSec img{
    width: 100%;
}
.right{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    display: flex;
    align-items: center;
}
.right a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
}
.right a:nth-child(3){
    margin-left: 60px;
}
.search-box{
    background-color: white;
    width: 340px;
    height: 45px;
    margin-right: 50px;
    display: flex;
    margin-left: 100px;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}
.searchfrm:hover .searchSubmit{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    display: flex;
}
.search-box:hover .search-btn{
    display: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}
.searchinpt{
    width: 100%;
    background-color: transparent;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 5px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}
.search-btn{
    width: 51px;
    height: 45px;
    display: flex;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    justify-content: center;
    background-color: white;
}

.searchfrm{
    width: 310px;
    /* background-color: red; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    height: 100%;
    display: flex;
    align-items: center;
}
.searchSubmit{
    display: none;
    margin-right: -25px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    padding: 7px 5px;
    background-color: transparent;
    border: 1px solid royalblue;
    font-size: 12px;
    font-weight: 600;
    color: royalblue;
}
.searchSubmit:hover{
    box-shadow: 0px 0px 15px 4px rgba(128, 128, 128, 0.733);
    cursor: pointer;
}
.Card{
    width: 40%;
    height: 50%;
    background-color: wheat;
}
.mainContent{
    width: 100%;
    height: 90%;
    
}
.mainContent h2{
    padding-left: 4%;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
}
.trendingContainer::-webkit-scrollbar{
    width: 12px;
    background-color: rgba(58, 58, 58, 0.408);
}
.trendingContainer::-webkit-scrollbar-thumb{
    background-color: #787878;
    border-radius: 10px;
}
.trendingContainer{
    padding-left: 4%;
    min-width: 100%;
    margin-top: 20px;
    overflow-y: auto;
    height: 80%;
    /* display: flex; */
    /* background-color: red; */
}
.CARD{
    width: 76%;
    height: 90%;
    /* margin-right: 16px; */
    border-radius: 8px;
    /* background-color: yellow; */
    overflow: hidden;
}
.trendingContainer>h2{
    color: white;
    margin-bottom: 20px;
}
.CARD:hover{
    cursor: pointer;
}
.CARD .top{
    color: white;
    overflow: hidden;
    width: 100%;
    height: 75%;
    /* background-color: red; */
    border-radius: 8px;
}
.CARD:hover{
    box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.39);
}
.top img{
    width: 170px;
    border-radius: 8px;
    object-fit: cover !important;
    object-position: bottom !important;
    background-position: bottom;
}
.CARD .bottom{
    width: 100%;
    height: 25%;
    padding-left: 5px;
    /* background-color: rebeccapurple; */
}
.bottom h3{
    font-size: 12px;
    margin-top: 10px;
    width: 180px;
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
    /* padding-right: 5px; */
}
.bottom p{
    font-size: 13px;
    font-weight: 400;
    color: #8f8f8f;
    margin-top: 1%;
}
.loadingMain{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.loading{
    height: 60%;
    background-color: red;
}
.trendingContainer a{
    text-decoration: none;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 1; */
    /* height: 100px; */
    /* background-color: rgba(165, 165, 165, 0.605); */
}
.paginationMain{
    background-color: rgba(165, 165, 165, 0.886);
    height: "45px"
}
.trailerMain{
    width: 100%;
    height: 80%;
}
.imageMain{
    width: 100%;
    height: 100%;
}
.trailerMain img{
    object-fit: cover;
    object-position: top;
    width: 100%;
}
.imageBlur{
    position: absolute;
    top: 11%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.537);
}
.moviePoster{
    width: 15%;
    height: 60%;
    background-color: red;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
    position: absolute;
    top: 10%;
    /* background-color: rebeccapurple; */
}
.noContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 20px;
    position: absolute;
    top: 10%;
    color: white;
}
.Data{
    width: 35%;
    /* min-height: 250px; */
    padding: 10px 10px 0px 10px;
    background-color: rgba(0, 0, 0, 0.537);
}
.content{
    color: white;
}
.trailerVideo{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.537) ;
}
.Data h4{
    font-size: 15px ;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.Data h5{
    margin-top: 10px;
}
.searchPage{
    color: white;
}
.genreIcon{
    display: flex;
    align-items: center;
    margin-top: 25px;
    background-color: rgb(123, 196, 255);
    width: 60%;
    color: black;
    padding-left: 20px;
}
.genreIcon>img{
    width: 40px;
    margin-right: 16px;
    background-size: cover;
}








